In [1]:
range(10)

range(0, 10)

In [37]:
l = list(range(3,20))
l

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
m=[]
r=[]
for i in l:
    if i<=11:
        m.append(i)
    else:
        r.append(i)

print(m,r)

[3, 4, 5, 6, 7, 8, 9, 10, 11] [12, 13, 14, 15, 16, 17, 18, 19]

In [1]:
u=(4,5,6,8,9)
u

(4, 5, 6, 8, 9)

In [52]:
type(l)

list

In [2]:
r= [4,5,6,7,8,3,2,"rahul","pay"]

In [3]:
r

[4, 5, 6, 7, 8, 3, 2, 'rahul', 'pay']

In [18]:
m=[]
for i in "rahul":
    if i == "u":
        m =i
        continue
    print(i)
    
print(m)

r
a
h
l
u

In [9]:
p = (input("enter name:"))

enter name:849798

In [7]:
p

5468

In [10]:
type(p)

str

In [3]:
a = int(input("ent no.:"))

ent no.:5

In [4]:
a

'5'

In [11]:
a = int(input("ent no.:"))
l = [1,2,3,4,5,6,67,7,544,5,5,9]
q = 0
m = []
for i in l:
    if i == a:
        m.append(i)
        q = q+1
print(m)
print(q)

ent no.:5
[5, 5, 5]
3

In [1]:
q = 5 + 7j

In [2]:
q.imag

7.0

In [4]:
e = q.real

In [5]:
type(e)

float

In [3]:
t = "rahul"
t

'rahul'

In [4]:
t*3

'rahulrahulrahul'

In [14]:
e = t.upper()

In [15]:
print(e)

RAHUL

In [18]:
w = input("name:")
e = input("surname:") 

print("my name is {} {}".format(w,e))

name:rahul
surname:pay
my name is rahul  pay

In [2]:
w = [1,3,65,78,7,"tyhn","poki"]

In [3]:
w.append("trf")

In [4]:
w

[1, 3, 65, 78, 7, 'tyhn', 'poki', 'trf']

In [9]:
w.insert(5,'99')

In [10]:
w

[1, 3, 65, 78, 7, '99', 99, 999, 'tyhn', 'poki', 'trf']

In [11]:
w.pop()

'trf'

In [12]:
w

[1, 3, 65, 78, 7, '99', 99, 999, 'tyhn', 'poki']

In [13]:
w.pop(5)

'99'

In [14]:
w

[1, 3, 65, 78, 7, 99, 999, 'tyhn', 'poki']

In [31]:
t= [99,8,0,76]

In [32]:
t.sort()

In [33]:
t

[0, 8, 76, 99]

In [1]:
o = 6+5j

In [2]:
o.imag

5.0

In [15]:
u = [[23,45,96,9],[4,"rahul",8,2,93],"pay","ram"]
i= []

In [19]:
t=u[0][1]
y=u[1][1]
i.append(t)
i.append(y)

In [20]:
i

[45, 'rahul']

In [5]:
u = [[23,45,96,9],[4,"rahul",8,2,93],"pay","ram"]
u

[[23, 45, 96, 9], [4, 'rahul', 8, 2, 93], 'pay', 'ram']

In [25]:
u = [[23,45,96,9],[4,"rahul",8,2,93],"pay","ram"]
s = []
for i in u:
    if type(i) == list:
        s.append(i[1])
print(s)

[45, 'rahul']

In [18]:
r = "hsdf idjsf asdas"
h=r.split('f')
h

['hsd', ' idjs', ' asdas']

In [31]:
h.index(' idjs',0,2)

1

In [14]:
len(h)

3

In [15]:
h.insert(1,'thr')

In [16]:
h

['hsd', 'thr', ' idjs', ' asdas']

In [17]:
h.pop(1)

'thr'

In [18]:
h

['hsd', ' idjs', ' asdas']

In [19]:
h.reverse()

In [20]:
h

[' asdas', ' idjs', 'hsd']

In [21]:
h.sort()

In [22]:
h

[' asdas', ' idjs', 'hsd']

In [26]:
1004%2

0

In [30]:
h.index(' asdas')

2