In [1]:
import sqlite3

In [3]:
c = sqlite3.connect("ram")   #ram is name of database

In [4]:
c.execute("create table ABC(id int,name text,score int)")

In [5]:
c.execute("insert into ABC(id,name,score) values(52,'rahul',95)")
c.execute("insert into ABC(id,name,score) values(12,'pooja',91)")
c.execute("insert into ABC(id,name,score) values(43,'rohit',55)")

In [6]:
c.commit()

In [9]:
r = list(c.execute("select * from ABC"))

In [14]:
for i in c.execute("select * from ABC order by name"):
    
    print(i)

(12, 'pooja', 91)
(52, 'rahul', 95)
(43, 'rohit', 55)

In [16]:
for i in c.execute("select score from ABC where name = 'pooja'"):
    
    print(i)

(91,)